/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
table {border-collapse: collapse;border-spacing: 0;}

/* staples */
a {color:#004d99;text-decoration:none;}
a:hover {text-decoration:underline;cursor:hand;}
.right {float:right;}

/* layout */
body {background:url(img/bg-body.png) repeat;color:#51719c;font:normal 13px/1.5 "Lucida Grande", Helvetica, Verdana, sans-serif;}
body p {margin:0 0 15px;}
#shadow {background:url(img/bg-shadow.png) repeat-x top left;width:100%;}
#width {background:url(img/bg-width.png) no-repeat top center;min-width:1288px;}
#page {width:960px;margin-left:66px;}
#sidebar {width:300px;float:left;}
#content {background:url(img/bg-content.png) repeat-y;width:652px;float:right;}
#logo {margin:10px 0 20px 40px;}
#logo a {width:260px;height:240px;display:block;outline:none;text-indent:-9999em;}

/* posts */
#posts {margin:25px 75px 10px 40px;color:#363d47;}
#posts h3 {font:normal 50px/.9em Georgia,serif;letter-spacing:-2px;margin:0 0 20px;}
#posts img {padding:7px;background:#e0e7eb;border:1px solid #d4dade;}
#posts h4 {font:normal 24px/.9em Georgia,serif;margin:0 0 20px;color:#959595;}
#posts ul {margin:0 0 15px;}
#posts ul li {background:url(img/icon-bullet.png) no-repeat 0 5px;padding:0 0 0 16px;margin:0 0 8px;}
#posts .meta {font:italic .9em Georgia,serif;margin:0 0 15px;color:#959595;}
#posts .meta .comment-link {background:url(img/icon-comment.png) no-repeat right 2px;padding: 0 18px 0 0;}
#posts .meta .comment-link a {color:#549d18;}
#posts .post-footer {background:url(img/bg-mid-double-line.png) repeat-x center left;}
#posts .post-footer .double-gray {background:#fff;padding-right:10px;}
#posts .post-footer .category-blurb a {color:#0a86fa;}

/* comments */
.comment-author {width:70px;float:left;margin-right:10px;font-size:.85em;}
.comment-author-avatar {display:block;margin: 0 0 5px;}
.comment-container {float:left;width:445px;position:relative;}
.comment-content {background:#f3f6f7;border:1px solid #e4e9ec;margin:0 0 0 14px;padding:15px;}
.comment-content-notch {width:15px;height:18px;position:absolute;top:18px;left:0;background:url(img/bg-comment.png) no-repeat;}
.comment-content h5 {font:italic 1.4em Georgia,serif;color:#959595;margin:0 0 10px;}
.post-comments {padding:10px 0;}
.post-comments .comment {margin:0 0 15px;}

/* social */
#content {position:relative;}
#social {position:absolute;top:65px;right:12px;}
#social li {width:32px;height:33px;margin:0 0 6px;background-repeat:no-repeat;text-indent:-9999em;}
#social li a {width:32px;height:33px;display:block;}
#social .s-twitter {background-image:url(img/bg-social-twitter.png);}
#social .s-facebook {background-image:url(img/bg-social-facebook.png);}
#social .s-linkedin {background-image:url(img/bg-social-linkedin.png);}
#social .s-flickr {background-image:url(img/bg-social-flickr.png);}
#social .s-vimeo {background-image:url(img/bg-social-vimeo.png);}
#social .s-rss {background-image:url(img/bg-social-rss.png);}

/* comments */
#comment-form li {display:block;margin:0 0 10px;}
#comment-form label {float:left;width:86px;padding:7px 4px;color:#787a7a;}
#comment-form .i-text {float:left;width:200px;background:#f3f6f7;border:1px solid #e4e9ec;padding:8px;}
#comment-form .i-text, #comment-form #comment-box {background:#f3f6f7;border:1px solid #e4e9ec;padding:8px;font:italic 1.2em Georgia,serif;color:#959595;}
#comment-form #comment-box {width:400px;}
#comment-form #submit-button {width:274px;height:45px;background:url(img/bg-submit-button.png) no-repeat;border:none;text-indent:-9999em;outline:none;margin:0 0 0 88px;padding:0;}

/* widgets */
.widget {width:240px;padding:10px;float:right;background:url(img/bg-sidebar-widget.png);color:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.widget h6 {padding:10px;background:url(img/bg-sidebar-widget-header.png);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;font:italic 1.4em Georgia,serif;color:#537198;}
.widget h6 a {color:#537198;}
.widget li a {color:#7fa6da;}
.widget ul {padding:10px 0 0 20px;}

/* search */
.widget-search-input {width:140px;padding:10px;background:url(img/bg-sidebar-widget-header.png);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;color:#fff;font:italic 1.2em Georgia,serif;border-color:#959595;border-width:1px;}
#widget-search-submit {color:#646f7c;font:italic 1.2em Georgia,serif;height:38px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

/* bullshit */
#width {height:2000px;}
#page, .post-comments, .comment, #comment-form li {overflow:hidden;}
#content {height:2000px;}
